body{
	margin: 0;
}
header{
    background: #ececec;
    padding: 25px 0;
}
.container{
    width: 1100px;
    /* background: #cdc9c2; */
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    width: 20%;
    float: left;
}
.logo img{}
nav{
    width: 80%;
    float: left;
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #202020;
    padding: 7px;
    display: block;
}

.banner-section{}
.banner-section img{
	width: 100%
}

.blog-section{}
article{
    padding: 70px;
}
article span{
    text-transform: uppercase;
    color: #0f0f0f;
    font-size: 17px;
}
article h1{
    text-transform: capitalize;
    font-size: 20px;
    color: #363440ad;
}
article p{
    margin-top: 0;
    color: #3634406b;
    text-align: justify;
    line-height: 1.3;
}
article a{
	/* color: green; */
	text-transform: capitalize;
	color: #363440cf;
	font-size: 17px;
	text-decoration: none;
}

article p span{}
article img{
    float: left;
    /* width: 45%; */
    padding-right: 5px;
}